In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-09-23 23:06:20,-23.1203,-134.9692,74.14,76,96,22.95
1,1,Punta Arenas,CL,2021-09-23 23:02:40,-53.1500,-70.9167,44.58,76,100,8.55
2,2,Mollendo,PE,2021-09-23 23:06:20,-17.0231,-72.0147,60.31,88,89,4.32
3,3,Northam,GB,2021-09-23 23:06:21,51.0333,-4.2167,58.66,93,91,4.14
4,4,Ancud,CL,2021-09-23 23:06:22,-41.8697,-73.8203,53.42,84,98,9.55

In [3]:
# Get the datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Bilma,NE,2021-09-23 23:06:23,18.6853,12.9164,86.23,13,3,2.39
10,10,Port Moresby,PG,2021-09-23 23:06:25,-9.4431,147.1797,78.89,76,94,2.82
12,12,Murindo,CO,2021-09-23 23:06:26,6.9848,-76.7544,75.63,94,100,3.00
15,15,Naze,JP,2021-09-23 23:06:28,28.3667,129.4833,78.17,67,0,12.35
17,17,Touros,BR,2021-09-23 23:06:29,-5.1989,-35.4608,79.70,77,67,15.12
18,18,Victoria,HK,2021-09-23 23:06:29,22.2855,114.1577,84.33,85,60,16.44
21,21,Banda Aceh,ID,2021-09-23 23:06:31,5.5577,95.3222,78.76,80,59,8.59
29,29,Kilindoni,TZ,2021-09-23 23:06:35,-7.9139,39.6668,76.46,79,9,12.86
30,30,Ixtapa,MX,2021-09-23 23:06:35,20.7000,-105.2000,89.22,74,40,9.22
38,38,Champerico,GT,2021-09-23 23:06:39,14.3000,-91.9167,87.76,74,74,4.97

In [13]:
# Check null values
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
7          Bilma      NE     86.23  18.6853   12.9164
10  Port Moresby      PG     78.89  -9.4431  147.1797
12       Murindo      CO     75.63   6.9848  -76.7544
15          Naze      JP     78.17  28.3667  129.4833
17        Touros      BR     79.70  -5.1989  -35.4608
18      Victoria      HK     84.33  22.2855  114.1577
21    Banda Aceh      ID     78.76   5.5577   95.3222
29     Kilindoni      TZ     76.46  -7.9139   39.6668
30        Ixtapa      MX     89.22  20.7000 -105.2000
38    Champerico      GT     87.76  14.3000  -91.9167

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
     # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.tail(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
547,Pemangkat,ID,77.34,1.1667,108.9667,Ramah Kost KITA
549,Vanimo,PG,77.29,-2.6741,141.3028,Vahmoneh Lodge Vanimo
551,Mana,GF,80.78,5.6592,-53.7767,LE SAMANA
552,Madhubani,IN,78.21,26.3667,86.0833,Hotel Raj Vilas
556,Loandjili,CG,75.42,-4.7561,11.8578,Résidence ARCHANGE
561,Tevaitoa,PF,78.17,-16.7833,-151.5000,Hôtel Raiatea Lodge
568,Jalu,LY,79.92,29.0331,21.5482,صاحبة الفخامة
570,Gwalior,IN,77.29,26.2236,78.1792,Hotel Grace
571,Riverton,US,80.17,40.5219,-111.9391,Ramada by Wyndham Draper
572,San Cristobal,VE,77.18,7.7669,-72.2250,Posada Villaven C.A.

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))